<!DOCTYPE html>
<html lang="en">


{% extends "base.html" %}
{% block title %}Pots page{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='pots.css') }}">
<script src="{{ url_for('static', filename='pots.js') }}" defer></script>
{% endblock %}


<body>
    {% block content %}
    <div class="container">
        <h1>Pots Financing</h1>
        <div id="initialPots">
            <div class="pot" id="savingsPot">
                <h2>Savings Pot</h2>
                <p>Current balance: <span id="savingsBalance">0</span></p>
                <p>Goal amount: <span id="savingsGoal">0</span></p>
                <button onclick="deposit('savings')">Deposit</button>
                <button onclick="withdraw('savings')">Withdraw</button>
                <button onclick="remove('holidays')">Remove</button>
            </div>


            <div class="pot" id="holidaysPot">
                <h2>Holidays Pot</h2>
                <p>Current balance: <span id="holidaysBalance">0</span></p>
                <p>Goal amount: <span id="holidaysGoal">0</span></p>
                <button onclick="deposit('holidays')">Deposit</button>
                <button onclick="withdraw('holidays')">Withdraw</button>
                <button onclick="remove('holidays')">Remove</button>
            </div>


            <div class="pot" id="groceriesPot">
                <h2>Groceries Pot</h2>
                <p>Current balance: <span id="groceriesBalance">0</span></p>
                <p>Goal amount: <span id="groceriesGoal">0</span></p>
                <button onclick="deposit('groceries')">Deposit</button>
                <button onclick="withdraw('groceries')">Withdraw</button>
                <button onclick="remove('holidays')">Remove</button>
            </div>
        </div>


        <button onclick="addNewPot()">Add New Pot</button>
    </div>


    <div id="popup" style="display: none;">
        <h2>Add New Pot</h2>
        <label for="potName">Pot Name:</label>
        <input type="text" id="potName"><br>
        <label for="amountGoal">Amount Goal:</label>
        <input type="number" id="amountGoal"><br>
        <button onclick="createPot()">Create</button>
    </div>
    {% endblock %}


</body>

</html>